[Unit]
Description=Check Bide timers and alarms

[Timer]
OnActiveSec=10s
OnUnitActiveSec=15s
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
